*:focus {
    outline: none;
}

.input-field {
    width: 200px;
    height: 30px;
}

.button {
    width: 200px;
    height: 30px
}

.container {
    text-align: center;
}

.button-link {
    border: 0;
    cursor: pointer;
    background-color: transparent;
    color: skyblue;
    margin-bottom: 30px;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}

table,
th,
button {
    /* margin:5px; */
}

.main-page-banner,
.food-page-banner {
    background-image: url("https://t4.ftcdn.net/jpg/03/53/68/47/240_F_353684779_sXaY7PHyX6Xb9okW7qjVfARj96YIJMZ1.jpg");
    background-color: rgb(0, 0, 0, 0.4);
    background-blend-mode: multiply;
    padding: 25px;
    height: 200px;
    color: white;

}

.main-page-banner h1 {
    text-align: center;
}

.food-page-banner h1 {
    text-align: center;
}

.input-wrapper {
    background-color: #fff;
    /* padding: 5px; */
    /* border:1px solid #ccc; */
    border-radius: 5px;
    /* width: 70%; */
    margin: 10px;

}

.input-wrapper2 {
    background-color: #fff;
    border-radius: 5px;
    margin: 10px;
    width: 60%;
    margin: auto auto;
}

.input-wrapper2 .select-input {
    padding-left: 10px;
}

.select-input {
    height: 40px;
    border: none;
    width: 30%;
}

.search-input {
    height: 40px;
    border: none;
    width: 30%;
    border-left: 2px solid #ccc;
    padding-left: 10;
}

.location-list {
    color: #000;
    list-style: none;
    text-align: left;
    position: absolute;
    background-color: #fff;
    padding: 0;
    margin: 0;
    margin-left: -5px;
    border: 1px solid black;
}

.location-list li {
    width: 180px;
    padding: 5px;
    border-bottom: 1px solid lightgray;
    cursor: pointer;
}

.resturant-list-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 40px;
    margin-bottom: 50px;
    color: #ffff;

}

.resturant-wrapper {
    width: 45%;
    background-color: orange;
    margin: 10px;
    padding: 10px;
    border: 1px solid #aaa;
    border-radius: 5px;
    cursor: pointer;
}

.resturant-wrapper .heading-wrapper,
.resturant-wrapper .address-wrapper {
    padding-left: 15px;
    display: flex;
    justify-content: flex-start;
}

.resturant-wrapper h5 {
    margin-left: 15px;
}

.food-page-banner {
    font-size: 25px;
}

.restaurant-details-wrapper {
    display: flex;
    background-color: orange;

}

.restaurant-details-wrapper h4 {
    width: 50%;
}

.food-item-wrapper {
    margin: 50px 0px;
}

.food-item-wrapper .list-item {
    padding: 20px;
    color: orange;
    font-weight: bold;
    border-bottom: 1px solid orange;
    display: flex;
    text-transform: capitalize;
}

.food-item-wrapper .list-item button {
    color: #fff;
    border: none;
    background-color: orange;
    padding: 5px;
    border-radius: 4px;
    cursor: pointer;
}

.food-item-wrapper .list-item .description {
    font-weight: lighter;
    color: gray;
}

.list-item-block-1 {
    width: 20%;
}

.list-item-block-2 {
    width: 80%;
}

.list-item-block-3 {
    width: 20%;
}

.total-wrapper {
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    border-bottom: 1px solid orange;
    padding-bottom: 20px;
}

.total-wrapper .row {
    display: flex;
    justify-content: space-between;
    margin-left: 20%;
    margin-right: 20%;
    color: orange;
    font-size: 20px;
    font-weight: bold;
}

.total-wrapper .block-1 {
    width: 70%;
}

.total-wrapper .block-2 {
    width: 30%;
}

.total-wrapper .block-2 button {
    padding: 10px 25px;
    background-color: orange;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    border: none;
}

.auth-container {
    display: flex;
}

.login-wrapper,
.signup-wrapper {
    height: 400px;
    border: 1px solid #ccc;
    margin: 10px;
    padding: 20px;
    width: 50%;
    text-align: center;
}